@model Locadora.Models.Diretor

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-white text-center mb-4">Detalhes do Diretor</h1>

<div class="container">
    <div class="card shadow-sm">
        <div class="card-body bg-dark">
            <h4 class="text-white">Informações do Diretor</h4>
            <hr class="border-light" />

            <dl class="row">
                <dt class="col-sm-2 text-white">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10 text-white">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2 text-white">
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </dt>
                <dd class="col-sm-10 text-white">
                    @Html.DisplayFor(model => model.DataNascimento)
                </dd>
                <dt class="col-sm-2 text-white">
                    @Html.DisplayNameFor(model => model.Nacionalidade)
                </dt>
                <dd class="col-sm-10 text-white">
                    @Html.DisplayFor(model => model.Nacionalidade)
                </dd>
            </dl>

            <div class="d-flex justify-content-between mt-4">
                <!-- Botão Editar -->
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm w-48">Editar</a>

                <!-- Botão Voltar -->
                <a asp-action="Index" class="btn btn-secondary btn-sm w-48">Voltar para a Lista</a>
            </div>
        </div>
    </div>
</div>
